.body{
    background-color: aqua;
    float: left;
    height: 200px;
    width: 400px;
    margin: 10px;

}
.h1 {
    background-color: aqua;
    float: left;
    height: 200px;
    width: 400px;
    margin: 10px;

}
.h2{
    background-color: aqua;
    float: left;
    height: 200px;
    width: 400px;
    margin: 10px;

}
.h3{
    background-color: aqua;
    float: left;
    height: 200px;
    width: 400px;
    margin: 10px;

}
.h4{
    background-color: aqua;
    float: left;
    height: 200px;
    width: 400px;
    margin: 10px;

}
